.sr-follow-btn {
  font-size: 16px;
  padding: 0 12px;
  height: 28px;
  border-radius: 20px;
  min-width: 92px;
  cursor: pointer;
  user-select: none;
  border: solid 1px var(--blue);
  text-align: center;
  line-height: 27px;
  font-weight: 700;
  color: var(--blue);
  display: inline-block;
  transition: background 0.3s ease-in-out;

  &.fill {
    transition: background 0.3s ease-in-out;
    border: none;
    color: #fff;
    line-height: 28px;
    font-weight: bold;
    background-color: var(--red);

    &.follow {
      transition: background 0.3s ease-in-out;
      background-color: var(--blue);
    }
  }
}
