.sr-rss-item {
  display: flex;
  padding: 20px;

  &-img {
    margin-right: 30px;
    img {
      min-width: 240px;
    }
  }

  h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
  }

  &-widget {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    color: var(--gray3);
  }

  &-content {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray3);
  }

  &-reactions {
    margin-top: 10px;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .txt2 {
      color: var(--blue);
      cursor: pointer;
    }
  }

  &-actions {
    i {
      display: inline-block;
      background-size: 100%;
      margin-left: 22px;
    }

    .save {
      width: 18px;
      height: 24px;
      background-image: url('./img/bookmark.svg');
    }

    .like {
      width: 26px;
      height: 23px;
      background-image: url('./img/like.svg');
    }
  }
}
