html,
body,
#root {
  margin: 0;
  font-family: Mulish, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  scroll-behavior: smooth;
  // background-color: #f5f5f5;
  font-size: 14px;
  line-height: 1.4;
  transform: none !important;
  overflow-x: hidden;
  word-break: break-all;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: #dbdee2;
  padding: 0 5px;
  border-radius: 3px;
}

pre {
  overflow-x: auto;
  padding: 10px;
  border-radius: 2px;
  font-family: 'Courier New', Courier, monospace;
  border: solid 2px #e0e4e8;
}

img {
  max-width: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  --black: #000;
  --blue: #056cf2;
  --red: #b63546;
  --gray: #f0f0f0;
  --gray2: #c5c7d0;
  --gray3: #828282;
  --gray4: #f5f6f8;
}

[class*='-view'] {
  // max-width: 980px;
  margin: 0 auto;
  padding: 20px 40px 50px;
}
