.base-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .side-nav {
    background: var(--gray);
    width: 230px;
    height: 100vh;
    padding-top: 40px;

    .menu-item {
      display: flex;
      align-items: center;
      padding: 5px 0;
      padding-left: 24px;
      cursor: pointer;

      &.on {
        color: var(--blue);
      }

      .icon {
        display: flex;
        width: 30px;
        height: 100%;
        align-items: center;
        margin-right: 10px;
      }

      i {
        display: flex;
        background-size: 100%;
        margin: 0 auto;
      }

      span {
        font-weight: 700;
        font-size: 16px;
      }
    }

    .following {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      margin: 20px 0 10px;

      i {
        display: inline-block;
        background-size: 100%;
        width: 18px;
        height: 18px;
        cursor: pointer;
      }
    }

    .follow-item {
      padding: 5px 0 5px 24px;

      ul {
        padding-left: 0;
      }

      .name {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
        position: relative;
        padding-left: 25px;
        user-select: none;
        cursor: pointer;

        &.open {
          &::before {
            transform: rotate(0);
          }
        }

        &::before {
          position: absolute;
          display: inline-block;
          content: '';
          width: 18px;
          height: 10px;
          background-image: url('./icons/arrow.svg');
          background-size: 100%;
          left: 0;
          top: 5px;
          transform: rotate(-180deg);
        }
      }

      ul {
        height: 0;
        overflow: hidden;
        &.open {
          height: auto;
        }
      }

      .follow-sub-item {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        padding: 3px 0;
        padding-left: 20px;
        align-items: center;
        cursor: pointer;

        &.view-all {
          font-weight: 700;

          i {
            display: inline-block;
            background-size: 100%;
            width: 24px;
            height: 24px;
            margin-right: 12px;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }

  .main {
    width: 100%;
    overflow-y: auto;
  }
}
