.sr-subscription-item {
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    // border: solid 1px var(--gray2);
    padding: 12px 20px;
    border-radius: 15px;
  }

  &-info {
    display: flex;
    align-items: center;

    i {
      width: 40px;
      height: 40px;
      display: inline-block;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .title {
      font-weight: 700;
      font-size: 20px;
      margin-left: 12px;
    }
  }

  .actions {
    font-size: 16px;
    padding: 0 12px;
    height: 28px;
    border-radius: 20px;
    min-width: 92px;
    cursor: pointer;
    user-select: none;
    border: solid 2px var(--blue);
    text-align: center;
    line-height: 27px;
    font-weight: 700;
    color: var(--blue);

    &.fill {
      border: none;
      color: #fff;
      line-height: 28px;
      font-weight: bold;
      background-color: var(--red);

      &.follow {
        background-color: var(--blue);
      }
    }
  }
}
